<h1>projects and collaborations</h1>
<br />

<div class="row">
  <% for(var i in projects) { %> <% var project = projects[i] %>
  <a
    href="<%- project.link %>"
    target="_blank"
    class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center project"
  >
    <div
      class="project-image"
      style="background-image: url('/images/projects/<%- project.picture %>')"
    ></div>
    <br />
    <%- project.name %>
  </a>
  <% } %>
</div>

<br />
<br />
<br />
<br />
<br />

<h1>CUSTOMERS AND FRIENDS AND PARTNERS</h1>

<div class="row">
  <% for(var i in partners) { %> <% var partner = partners[i] %>
  <a
    href="<%- partner.link %>"
    target="_blank"
    class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6 text-center"
  >
    <div
      class="partners-image"
      style="background-image: url('/images/partners/<%- partner.picture %>')"
    ></div>
  </a>
  <% } %>
</div>
